{% extends 'index.html' %}
{% block meta %}
{% endblock %}
{% block crit_scripts %}
{% endblock %}
{% block content %}
<div class="pageLander">
    {% if current_user.is_authenticated %}
    <div class="storesContainer">
        <div class="heading">
            <h2>Your Stores</h2>
        </div>
        <div class="body">
            <div class="storesGrid">
                <div class="store">
                    <div class="title">
                        <h3>Sample Heading</h3>
                    </div>
                    <div class="body">
                        Total Products: 999
                    </div>
                </div>
                <div class="store">
                    <div class="title">
                        <h3>Sample Heading</h3>
                    </div>
                    <div class="body">
                        Total Products: 999
                    </div>
                </div>
                <div class="store">
                    <div class="addStore">
                        <div class="add"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <h3>Please Create An account First.</h3>
    <p><a href="{{url_for('auth.signup')}}">New Account</a></p>
    {% endif %}
</div>
<div class="standardLander">
    <div class="standardFormContainer">
        <div class="back"></div>
        <h2>New Store</h2>
        <form>
            <p>Store Name</p>
            <div class="flexLayer">
                <div class="material-input short">
                    <div class="input-container">
                        <input type="text" autocomplete="store-name" name="store-name" required id="name-store">
                    </div>
                    <div class="label">Store Name</div>
                </div>
                <div class="material-input short">
                    <div class="input-container">
                        <input type="text" autocomplete="gst" name="gstno" required id="gst-store">
                    </div>
                    <div class="label">GST No.</div>
                </div>
            </div>
            <p>Address</p>
            <div class="material-input long">
                <div class="input-container">
                    <input type="text" autocomplete="address-line1" name="address-line1" required id="address-line1-store">
                </div>
                <div class="label">Street Address</div>
            </div>
            <div class="material-input long">
                <div class="input-container">
                    <input type="text" autocomplete="address-line2" name="address-line2" required id="address-line2-store">
                </div>
                <div class="label">Address Line 2</div>
            </div>
            <p>Phone</p>
            <div class="material-input long">
                <div class="input-container">
                    <input type="text" autocomplete="phone" name="phone" required id="phone-store">
                </div>
                <div class="label">Phone Number</div>
            </div>
            <p>Owner's Name</p>
            <div class="material-input long">
                <div class="input-container">
                    <input type="text" autocomplete="name" name="name" required id="owner-store">
                </div>
                <div class="label">Name</div>
            </div>
            <button id="new-store">Add Store</button>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='scripts/home.js')}}" defer></script>
<script src="{{url_for('static', filename='scripts/input_script.js')}}" defer></script>
{% endblock %}
