<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}
        {% endblock %}
        {% block crit_scripts %}
        {% endblock %}
        <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='fonts.css')}}">
    </head>
    <body>
        <nav>
            <div class="internal">
                <div class="profile">
                    <a href="{{ url_for('views.home') }}"><img class="logo small" src="{{ url_for('static', filename='default_images/pfp.webp') }}" alt="Logo"></a>
                    <p>{{current_user.name}}</p>
                </div>
                <div class="links">
                    <ul>
                        <li><a href="{{ url_for('views.home') }}">Home</a></li>
                        {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('views.billing') }}">Create Bill</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                        <li><a href="{{ url_for('views.settings') }}">Settings</a></li>
                        {% else %}
                        <li><a href="{{ url_for('auth.signup') }}">New Account</a></li>
                        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="burger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </nav>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        {% block content %}
        {% endblock %}

        
        <!-- <script src="mainSite\static\scripts\mainScript.js" async defer></script> -->
        {% block scripts %}
        {% endblock %}
    </body>
</html>